.colorFondo{
    
    background-color:black ;  

}
.custom-card-style {   /*  color del texto y fondo del card*/
    background-color: black;
    color: white;
}

.centrarTitulo{

    text-align: center;
    color: white;
    font-family: "Pacifico", cursive;
}

.color-icono{

    color:white;
}
html{

    scroll-behavior: smooth;  /* realiza el desplazamiento mas lento*/
}

.imagen-card{    /* ajusta la imagen del card*/

    height: 32%;
}









